.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /* margin: 100px; */
    color: black;
    font-size: 40px;
    text-align: center;
}
.welcome .titleline{
    margin-top: 200px;
}
.ptext{
    font-size:22px;
    text-align: center;
    & .smoggs{
        height: 10%;
        width: 40%;
        border-radius: 50%;
        border: 5px solid black;
    }
    & .vini{
        height: 10%;
        width: 40%;
        border-radius: 50%;
        border: 5px solid black;
    }
    & .tkhoa{
        height: 10%;
        width: 40%;
        border-radius: 50%;
        border: 5px solid black;
    }
}