/* Header shenanigans */
header {
    position: fixed;
    display: flex;
    background-color: #006660;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.icon img {
    width: 85px;
}

.logo {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* SEARCH */
.searchbar button img {
    width: 35px;
}

.option img {
    padding-top: 20px;
    padding-right: 60px;
    width: 55px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.menu-main {
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
}

textarea {
    resize: none;
}

.menu-main li {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    font-family: 'Open Sans';
}
.menu-main a{
    text-decoration: none;
    color: white;
}

.searchbar {
    display: flex;
    height: 50px;
    font-size: 25px;
    margin-top: 20px;
}

/* .searchbar #search{
        margin-left: 200% !important;
    } */

.left-options {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.right-options {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

/* Footer */
footer {
    width: 100%;
    bottom: 0px;
    position: relative;
    text-align: center;
    background-color: #006660;
    color: black;
    font-size: 7px;
    margin-top: auto;
}

footer h1 {
    text-align: center;
}


/* main body aka content (fetured */
body {
    background-color: whitesmoke;
    /* background: url;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-position: center;  */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.test h1 {
    font-size: 3em;
}

.contents {
    padding: 100px;
    background-image: url("../IMG/cool-background.png");
    background-color: rgb(221, 221, 221);
    
    ul {list-style-type: none;}
    body {font-family: Verdana, sans-serif;}

    /* Month header */
    .month {
      padding: 70px 25px;
      width: 100%;
      background: #1abc9c;
      text-align: center;
    }
   
    /* Month list */
    .month ul {
      margin: 0;
      padding: 0;
    }
   
    .month ul li {
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
   
    /* Previous button inside month header */
    .month .prev {
      float: left;
      padding-top: 10px;
    }
   
    /* Next button */
    .month .next {
      float: right;
      padding-top: 10px;
    }
   
    /* Weekdays (Mon-Sun) */
    .weekdays {
      margin: 0;
      padding: 10px 0;
      background-color:#ddd;
    }
   
    .weekdays li {
      display: inline-block;
      width: 13.6%;
      color: #666;
      text-align: center;
    }
   
    /* Days (1-31) */
    .days {
      padding: 10px 0;
      background: #eee;
      margin: 0;
    }
   
   .days li {
     list-style-type: none;
     display: inline-block;
     width: 13.6%;
     text-align: center;
     margin-bottom: 5px;
     font-size:12px;
     color: #777;
   }
   
    /* Highlight the "current" day */
    .days li .active {
      padding: 5px;
      background: #1abc9c;
      color: white !important
       }

    /* min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0; */
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 100px;
    color: black;
    font-size: 40px;
}

.featured {
    display: flex;
    justify-content: space-between;
}

.featured div.left {
    width: 50%;
}

.featured div.right {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.right div.st1,
.right div.nd2 {
    width: 50%;
}

.featured div {
    margin-right: 20px;
    height: 100%;
}

.right img:nth-child(2) {
    width: 100%;
}

.right img {
    padding: 5px;
    width: 100%
}

.left img {
    width: 75%;
}

/* Content (normal) */
.manga h3 {
    text-align: center;
    color: black;
}

.manga div.image {
    display: flex;
    width: 10%;
}

.manga div.image img {
    width: 100%;
    margin: 15px;
}

.card {
    width: 200px;
    box-shadow: 15px 15px 15px 0 rgb(0, 0, 0);
    border-radius: 10px;
    float: left;
    margin-left: 50px;
}

.card img {
    width: 100%;
}

.manga-selector {
    display: flex;
}