footer {
    width: 100%;
    bottom: 0px;
    position: relative;
    text-align: center;
    background-color: #006660;
    color: white;
    font-size: 7px;
    margin-top: auto;
    display: block;
}

footer h1 {
    text-align: center;
}