@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');
header {
    position: fixed;
    display: flex;
    background-color: #006660;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.menu-main {
    display: flex;
    /* padding-top: 20px; */
    padding-left: 10px;

    & ul {
        display: flex;
        align-items: center;

        & ul {
            padding: 10px;
        }
    }

    & li {
        text-decoration: none;
        display: inline-block;
        font-family: 'JetBrains Mono';
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & .icon {
        padding-right: 50px;
        font-size: 40px;
        font-family: 'Edu TAS Beginner';
    }
}

textarea {
    resize: none;
}

.searchbar {
    display: flex;
    height: 50px;
    font-size: 25px;
    margin-top: 20px;
}

/* .searchbar #search{
        margin-left: 200% !important;
    } */

.left-options {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.right-options {
    /* flex: -2; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 1rem;

    & .option {
        flex: 1;

        & img {
            height: 3rem;
            width: auto;
            margin-right: 20px;
        }
    }

    & .Regis li {
        list-style: none;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        font-family: 'JetBrains Mono';
        text-align: end;

    }

    & .Regis a {
        text-decoration: none;
        color: white;
    }
}
.navbar {
    background-color: #006660;
    position: relative;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #006660;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    /* margin-bottom: 5px; */
}
/* Style the dropdown menu */
.navbar ul ul {
    position: absolute;
    top: 100%;
    display: none;
}

.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;
}

/* Change the background color of dropdown links on hover */
.navbar ul ul li a:hover {
    background-color: #008078;
}